<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}欢迎!{% endblock %} - foobar 院新年红包研究所</title>
        <link rel="stylesheet" href="{{ asset('assets/pure-min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('fe/app.css') }}"/>
        {% block stylesheet %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="container">
            <div id="header">
                <span id="title">foobar 院新年<span style="color: red;">红包</span>研究所</span>
                <br />
                <span id="subtitle">所内综合办公系统 V2.023</span>
            </div>
            {% if app.user is not null %}<div id="nav">
                <a href="{{ path('home') }}">首页</a>
                <a href="{{ path('course') }}">我的课程</a>
                <a href="{{ path('attendance') }}">我的考勤</a>
                <a href="{{ path('vpn.index') }}">内网访问</a>
                <a href="{{ path('project') }}">课题管理与申报</a>
                <a href="{{ path('finance') }}">财务与报销</a>
            </div>{% else %}<div id="nav" style="text-align: right;">
                <a href="{{ path('auth.login') }}">登录</a>
            </div>{% endif %}
            <div id="body-content">{% block body %}{% endblock %}</div>
            <div id="footer">
                <p><a href="https://foobar.ac.cn">foobar 院</a> 信息技术中心&copy; 2023</p>
            </div>
        </div>
        <script src="{{ asset('fe/app.js') }}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
