{% extends 'base.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% set reached = news|levelReached %}
{% set level = news.associatedLevel %}

{% block body %}
	<div class="lr-column">
		<div class="main">
			<div class="fb-box{% if not reached %} box-red{% endif %}">
				<p class="box-title">{{ news.title }}</p>
				<hr />
				{% if reached %}
					{{ news.content|raw }}
				{% elseif level == 2 %}
					<p style="font-size: 1.2em; color: red;">该内容仅限内网查看！</p>
				{% elseif level == 3 %}
					<p style="font-size: 1.2em; color: red;">该内容仅限办公室查看！</p>
				{% else %}
					未知错误。这个真的是未知错误，请联系 soha 修 bug。
				{% endif %}
			</div>
			{% if reached and news.showCode %}
				<div class="fb-box box-red">
					<p class="box-title">专属福利</p>
					{% if level == 2 %}
						<p>支付宝红包口令：<code>{{ hbCode.level2 }}</code>，请至支付宝领取。</p>
					{% elseif level == 3 %}
						<p>支付宝红包口令：<code>{{ hbCode.level3 }}</code>，请至支付宝领取。</p>
						<p style="font-size: .875em;">您已经拿到这一关红包，请及时撤销您为了这个红包所做的操作，否则可能会给别的参与者降低难度（笑）。这是这关红包设计时不可避免的 bug。</p>
					{% else %}
						未知错误。这个真的是未知错误，请联系 soha 修 bug。
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="side">
			{% include 'sidebar.html.twig' %}
		</div>
	</div>
{% endblock %}
